.design-second {
  padding: 100px 0 160px;
}
.design-third {
  padding: 120px 0 160px;
  background: $light-black;
}
.design-third__title {
  color: $white;
}
.design-forth {
  padding: 120px 0 160px;
}
