.nav {
  position: absolute;
  // background: $light-black;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  @include flex(row, start, center);
  &-list {
    @include flex(row, start, center);
    gap: 60px;
  }
  &-item{
    font-size: 1rem;
    color:$white;
    &.active{
      color:$orange;
    }
    &-arrow{
  @include flex(row, start, center);
  gap: 10px;
    }
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
}

.dropdown-list {
  padding: 30px;
  background: linear-gradient(
      0deg,
      rgba(79, 79, 79, 0.2),
      rgba(79, 79, 79, 0.2)
    ),
    #161616;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  gap: 15px 30px;
  height: 200px;
  font-weight: 500;
font-size: 16px;
line-height: 20px;
}
.dropdown-list a{
  cursor: pointer;
}
.dropdown-list.dsp {
  width: 870px;
}
.dropdown-list.asp {
  width: 240px;
  display: flex;
  justify-content: center;
}
.dropdown-content a {
  color: #f1f1f1;
  transition: 0.2s;
  padding: 5px;
}

.dropdown-content a:hover,
.burger-list a:hover {
  color:$orange
}

.dropdown:hover .dropdown-content {
  display: block;
}