@use "./abstracts/colors" as colors;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

:root {
  --document-font-family: "Montserrat";
}

button {
  border: none;
  outline: none;
}

body {
  font-family: var(--document-font-family, "Montserrat");
}

text {
  font-family: var(--document-font-family, "Montserrat");
}

svg {
  font-family: var(--document-font-family, "Montserrat");
}
.robo {
  font-family: "Robtronika";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: colors.$orange;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.8;
    font-size: colors.$pale-orange;
  }
}

li {
  color: colors.$dark-gray;
  font-weight: 100;
}
section {
  background-color: colors.$light-gray;
}
.hidden {
  display: none !important;
}

.container {
  max-width: 1241px;
  width: 100%;
  margin: 0 auto;
}
.text-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
}
.text-prime {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.text-second {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.text-center {
  text-align: center;
}
.title__text{
  margin-top:28px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-120{
  margin-top: 120px;
}
.flex-end {
  align-self: flex-end;
}
.line{
  background:colors.$black;
  width: 100%;
  height: 1px;
  &.line-dark{
  background:colors.$white;
  }
}
.btn {
  display: block;
  background: linear-gradient(270deg, #ff7323 -88.02%, #000000 48.08%);
  border: 1px solid #000000;
  font-weight: 600;
  color:colors.$white;
  max-width: 350px;
  width: 100%;
  padding: 32px 60px;
  text-align: center;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7323;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff863f;
}
