// Colors
$bg-white: #FFF;
$bg-dark: #F9FAFB;
$white: #FFF;
$dark-blue: #3F3D56;
$black-blue: #2F2E41;
$orange: #FF7500;
$light-orange: #FEA14B;
$pale-orange: #FDC07E;
$pink: #FFB8B8;
$light-lilac: #D0CDE1;
$gray: #C2C2C2;
$light-gray: #CFCFCF;
$dark-gray: #9F9F9F;
$light-black: #666;
$black: #000;